---
import { getCollection } from 'astro:content';
import PageLayout from "../../layouts/PageLayout.astro";
import PageBrake from './../../components/PageBrake.astro'

export async function getStaticPaths() {
  const entries = await getCollection("blog");

  return entries.map((entry) => ({
    params: { blog: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<PageLayout
  title={entry.data.title} 
  description={entry.data.description}
  image={entry.data.heroImage}>

  <div class="container-small">
    <!-- <div class="image"><img src={entry.data.heroImage}/></div> -->
    <PageBrake/>
  </div>
    <article id="Post">
      <Content/>
      <!-- <div class="field_images d-flex flex-wrap justify-content-center gap-3 mt-5"> -->
      <!--   <div class="image"><img src={entry.data.heroImage}/></div> -->
      <!-- </div> -->
    </article>
</PageLayout>
<style>
  .codepen {
      margin-bottom: 3rem;
  }
</style>
