---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/index.scss'

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/logo192.png" />
<link rel="apple-touch-icon" href="/logo192.png" />

<meta name="theme-color" content="#20c997" />
<meta name="author" content="Torsten Abraham" />
<meta name="keywords" content="webdevelopment, freelancer, frontend, berlin, drupal" />
<meta name="generator" content={Astro.generator} />

<!-- preloads -->
<link rel="preload" as="font" href="/fonts/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6h.woff2" type="font/ttf" crossorigin />
<link rel="preload" as="image" href="/hero.webp">
<link rel="preload" as="image" href="/kendal-hnysCJrPpkc-unsplash_sm.webp">

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title ? `${title}` : `toabr.de`}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph Metadata -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content="en_US" />
