---
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<article class="border-0 shadow-slim hover-drop card bg-accent-1">
  <div class="card__image bg-primary bg-gradient p-3">
    <a class="h-100 d-flex justify-content-center align-items-center" href={entry.slug}>
      <img loading="lazy" class="img-fluid shadow-slim" alt={entry.data.title} src={entry.data.heroImage} style="max-height: 100%;">
    </a>
  </div>
  <div class="card__body px-3 pt-2" style="font-size: 0.85rem;">
    <div class="d-flex justify-content-between position-relative">
      <div class="text-primary fw-bolder my-2">
        <a class="pe-2 text-decoration-none text-capitalize" href="/wiki?q=css">
          <!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="hashtag" class="svg-inline--fa fa-hashtag fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M440.667 182.109l7.143-40c1.313-7.355-4.342-14.109-11.813-14.109h-74.81l14.623-81.891C377.123 38.754 371.468 32 363.997 32h-40.632a12 12 0 0 0-11.813 9.891L296.175 128H197.54l14.623-81.891C213.477 38.754 207.822 32 200.35 32h-40.632a12 12 0 0 0-11.813 9.891L132.528 128H53.432a12 12 0 0 0-11.813 9.891l-7.143 40C33.163 185.246 38.818 192 46.289 192h74.81L98.242 320H19.146a12 12 0 0 0-11.813 9.891l-7.143 40C-1.123 377.246 4.532 384 12.003 384h74.81L72.19 465.891C70.877 473.246 76.532 480 84.003 480h40.632a12 12 0 0 0 11.813-9.891L151.826 384h98.634l-14.623 81.891C234.523 473.246 240.178 480 247.65 480h40.632a12 12 0 0 0 11.813-9.891L315.472 384h79.096a12 12 0 0 0 11.813-9.891l7.143-40c1.313-7.355-4.342-14.109-11.813-14.109h-74.81l22.857-128h79.096a12 12 0 0 0 11.813-9.891zM261.889 320h-98.634l22.857-128h98.634l-22.857 128z"></path></svg>css</a></div><div class="resource-icon"><a href="https://codepen.io/toabr/full/dyVYVyj" target="_blank" rel="noreferrer" title="codepen" alt="codepen" class="rounded-circle btn btn-highlight"><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="codepen" class="svg-inline--fa fa-codepen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M502.3 159.7l-234-156c-7.987-4.915-16.51-4.96-24.57 0l-234 156C3.714 163.7 0 170.8 0 177.1v155.1c0 7.143 3.714 14.29 9.715 18.29l234 156c7.987 4.915 16.51 4.96 24.57 0l234-156c6-3.999 9.715-11.14 9.715-18.29V177.1c-.001-7.142-3.715-14.29-9.716-18.28zM278 63.13l172.3 114.9-76.86 51.43L278 165.7V63.13zm-44 0v102.6l-95.43 63.72-76.86-51.43L234 63.13zM44 219.1l55.14 36.86L44 292.8v-73.71zm190 229.7L61.71 333.1l76.86-51.43L234 346.3v102.6zm22-140.9l-77.71-52 77.71-52 77.71 52-77.71 52zm22 140.9V346.3l95.43-63.72 76.86 51.43L278 448.8zm190-156l-55.14-36.86L468 219.1v73.71z"></path></svg> -->
        </a>
      </div>
    </div>
    <div class="fw-bold card-title h5">
      <a class="text-body text-decoration-none" href={entry.slug}>{entry.data.title}</a>
    </div>
    <small class="mb-2 text-muted card-subtitle">{entry.data.pubDate}</small>
    <p class="font-serif text-accent-3 py-1 mb-3 card-text">{entry.data.description}</p>
    <div class="text-end"></div>
  </div>
</article>
